#titlebar, #navbar {
  margin: 0px;
  padding: 8px;
}

#titlebar {
  background-color: #dddddd;
}

#navbar {
  background-color: #cc9998;
}

#column1 {
  float: left;
  width: 65%;
  background-color: #9acc99;
}

#column2 {
  float: left;
  width: 35%;
  background-color: #9999cd;
}

.container {
  padding: 0px 16px;
}